@charset "utf-8";
/* google font api(cross browsing) */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset */
html,body{width:100%; height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;}
fieldset,img,abbr,acronym{border:none;}
address,caption,cite,code,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:"";}
img,li{vertical-align:middle;}
hr{display:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}

#skipNavi,.blind{position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;visibility:hidden;}

body {
	font-family: NanumGothic;
	background-color: #fff;
	margin: 0 auto;
	color: #4F5155;
	background: #6AA6D6 url(../img/pattern_01.png) 0 0 repeat;
}

/* layout */
#wrap{width:100%;height:100%;margin:0 auto;}
	#header{line-height:50px;height:50px;width:100%;min-width:1250px;position:fixed;top:0;left:0;}
	#container{padding-top:50px;min-width:850px;}
	#footer{position:fixed;bottom:0;}