/**
 * Anysupport - CRM
 * Custom_info CSS
 * By KSM
 */
 
 #alert_msg_box{
	position:absolute;
	z-index:2000;
	top:70px;
	width:100%;
}

#container{
	width:100%;
	min-width:990px;
}

/* search_header */
.search_header{
	margin-top:10px;
	position:relative;
	background:#fff;
	height:50px;
	padding:10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
}

.search_header .search_title{
	width:100px;
	float:left;
	text-align:center;
	margin-right:10px;
	line-height:30px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	background:#428bca;
	color:#fff;
}

.search_header #keyword1{
	width:250px;
	float:left;
	margin-right:20px;
}

.search_header #keyword2{
	width:450px;
	float:left;
}

.search_header #keyword2 .ajax_keyword2{
	width:450px;
}

.search_header .search_btn{
	width:100px;
	position:absolute;
	top:50;
	right:10px;
}

/* search_content */
.search_content{
	margin-top:10px;
	position:relative;
	background:#fff;
	padding:10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
}

.search_content .search_title{
	width:100px;
	float:left;
	text-align:center;
	margin-right:10px;
	line-height:30px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	background:#5cb85c;
	color:#fff;
}
.search_content .default_search{
	width:720px;
	margin:0 auto;
	float:left;
	border:1px solid #5cb85c;
	border-radius: 4px 4px 4px 4px;
}
.search_content .default_search p {
	text-align:center;
	line-height:30px;
	font-weight:bold;
	color:#5cb85c;
}
.search_content .excel_btn{
	width:100px;
	position:absolute;
	right:10px;
	top:10px;
}

.search_content .ajax_search_content{
	margin:40px 0 10px;
}

/* table */
.search_table tr th{
	text-align:center;
	font-weight:bold;
}

.search_table tr td{
	text-align:center;
}

/* pasing */
.page_box{
	text-align:center;
}

