/**
 * Anysupport - CRM
 * Custom regi CSS
 * By KSM
 */
 
 #alert_msg_box{
	position:absolute;
	z-index:2000;
	top:70px;
	width:100%;
}

#container{
	width:100%;
	min-width:1575px;
}

/* custom_create_content */
.custom_create_content{
	margin-top:20px;
	min-width:1100px;
	background:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

.regi_line{
	display:block;
	width:1050px;
	height:35px;
	margin:5px auto;
}

.regi_line .regi_label{
	display:block;
	width:150px;
	float:left;
	line-height:30px;
	text-align:center;
}

.regi_line .regi_label_lg{
	display:block;
	width:150px;
	line-height:150px;
	float:left;
	text-align:center;
}

.regi_line .regi_label2{
	display:block;
	width:150px;
	float:left;	
	margin-left:350px;
	line-height:30px;
	text-align:center;
}

.regi_line .regi_input_lg{
	display:block;
	width:850px;
	float:left;
}

.regi_line .regi_input{
	display:block;
	width:850px;
	float:left;
	line-height:27px;
}

.regi_line .regi_input2{
	display:block;
	width:340px;
	line-height:27px;
	float:left;
}

.regi_line .regi_input3{
	display:block;
	width:190px;
	float:left;
	line-height:27px;
	text-align:center;
}

.agent_cnt_box{
	width:340px;
}

.agent_cnt{
	position:relative;
	top:-30px;
	left:530px;
	width:150px;
	line-height:28px;
}

.agent_cnt span{
	margin-right:20px;
	font-weight:bold;
}

.tax_bill_box{
	width:340px;
}

/* person table */
.person_table{
	width:1050px;
	margin:20px auto;
}

.person_table .person_tr_label{
	width:100px;
	text-align:center;
}

.person_table .person_tr_input{
	width:300px;
	text-align:center;
}

/* bh_table */
.bh_table{
	margin:140px auto 40px;
	width:1500px;
}

/* btn */
.regi-btn{
	float:right;
}