/**
 * Anysupport - CRM
 * Custom modify CSS
 * By KSM
 */
 
 #alert_msg_box{
	position:absolute;
	z-index:1000;
	top:70px;
	width:100%;
}

#container{
	width:100%;
}
/* ajax 시 regi 화면에서 사용하던 html에 css 입히기 */
.regi_line{
	display:block;
	width:1050px;
	height:35px;
	margin:5px auto;
}
.regi_line .regi_label{
	display:block;
	width:150px;
	float:left;
	line-height:30px;
	text-align:center;
}
.regi_line .regi_input{
	display:block;
	width:850px;
	float:left;
	line-height:27px;
}
.regi_line .regi_input2{
	display:block;
	width:340px;
	line-height:27px;
	float:left;
}

/* custom_modify_content */
.custom_modify_content{
	margin:20px auto 15px;
	background:#fff;
	width:1100px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

.modi_line{
	display:block;
	width:1050px;
	height:35px;
	margin:5px auto;
}

.modi_line .modi_label{
	display:block;
	width:150px;
	float:left;
	line-height:30px;
	text-align:center;
}

.modi_line .modi_label_lg{
	display:block;
	width:150px;
	line-height:150px;
	float:left;
	text-align:center;
}

.modi_line .modi_label2{
	display:block;
	width:150px;
	float:left;	
	margin-left:350px;
	line-height:30px;
	text-align:center;
}

.modi_line .modi_input_lg{
	display:block;
	width:850px;
	float:left;
}

.modi_line .modi_input{
	display:block;
	width:850px;
	float:left;
	line-height:27px;
}

.modi_line .modi_input2{
	display:block;
	width:340px;
	line-height:27px;
	float:left;
}

.modi_line .admin_id_box{
	display:block;
	width:340px;
	float:left;
	line-height:30px;
}

.modi_line .modi_input3{
	display:block;
	width:190px;
	float:left;
	line-height:27px;
	text-align:center;
}

.agent_cnt_box{
	width:340px;
}

.agent_cnt{
	position:relative;
	top:-30px;
	left:530px;
	width:150px;
	line-height:28px;
}

.agent_cnt span{
	margin-right:20px;
	font-weight:bold;
}

.tax_bill_box{
	width:340px;
}

/* person table */
.person_table{
	width:1050px;
	margin:20px auto;
}

.person_table .person_tr_label{
	width:100px;
	text-align:center;
}

.person_table .person_tr_input{
	width:300px;
	text-align:center;
}

/* bh_table */
.bh_table{
	margin:10px auto 20px;
	width:1700px;
}

/* btn */
.modi-btn{
	margin-top:15px;
	float:right;
}

/* custom_modify_content2 */
.custom_modify_content2{
	margin:20px auto 15px;
	background:#fff;
	width:1750px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

.add-line-btn{
	width:100%;
}

/* ajax_bh_modify */
.ajax_bh_modify{
	margin:20px auto 15px;
	background:#fff;
	width:1800px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

.bh-modi-btn{
	width:40px;
	height:25px;
}

.bh_modi_table{
	width:1750px;
	margin:10px auto;
}

/* updown_area */
.updown_area{
	margin:20px auto 15px;
	background:#fff;
	width:500px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}