/**
 * Anysupport - CRM
 * Header CSS
 * By KSM
 */

#header{
	background-color:#eee;
	z-index: 2000;
	box-shadow: 0 1px 2px #272727;
}

/* logo */
.logo{
	width:250px;
	text-align:center;
	height:50px;
	background: #525252 url(../img/pattern_01.png) 0 0 repeat;
	position:relative;
}

.logo a{
	line-height:50px;
	color:#fff;
	font-weight:bold;
	font-size:20px;
}

.logo a .sub_title{
	font-size:15px;
	color:#ccc;
}

/* gnb */
.gnb{
	position:absolute;
	top:0;
	left:300px;
}
.gnb li{
	float:left;
	width:150px;
}

.gnb li a{
	display:block;
	text-align:center;
	font-weight:bold;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.gnb li a:hover{
	color:#000;
	background:rgba(0,0,0, 0.2);
}

.gnb li.active a{
	color:#fff;
	background:rgba(0,0,0, 0.5);
}

/* login_info */
.login_info_box{
	position:absolute;
	top:0;
	right:100px;
}
.login_info_box .label{
	float:left;
	margin:18px 7px;
}
.login_info_box .login_info{
	float:left;
	display:block;
	color:#aaa;
	font-weight:bold;
	font-style:italic;
}
.login_info_box .id_label{
	margin-right:12px;
}

.login_info_box .auth_label{
	margin:18px 2px;
}

/* top_menu */

.logout_btn{
	position:absolute;
	top:8px;
	right:5px;
}