/**
 * Anysupport - CRM
 * Login CSS
 * By KSM
 */
 
 #alert_msg_box{
	position:absolute;
	z-index:2000;
	top:70px;
	width:100%;
}

.content{
	margin:10% auto;
	width:500px;
	background:#fff;
	padding:25px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
 }
 
.login_box p{
	margin:5px 0;
	height:40px;
	line-height:35px;
}

.login_box p .login_label{
	display:block;
	width:150px;
	text-align:center;
	float:left;
}

.login_box p .login_input{
	width:300px;
	float:right;
}

.login_box p .login_btn{
	float:right;
	width:300px;
	line-height:30px;
}