/**
 * Anysupport - CRM
 * Manager manage CSS
 * By KSM
 */
 
 #alert_msg_box{
	position:absolute;
	z-index:2000;
	top:70px;
	width:100%;
}

/* manager_list */
.manager_list{
	margin:20px 0;
	background:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

/* modify_manager */
.modify_manager{
	background:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}
