/**
 * Anysupport - CRM
 * Manager create CSS
 * By KSM
 */

 #alert_msg_box{
	position:absolute;
	z-index:2000;
	top:70px;
	width:100%;
}
 
/* create_manager_content */
.create_manager_content{
	margin-top:20px;
	background:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
	padding:10px;
}

#checkMsg{
	position:absolute;
	top:5px;
	right:-180px;
}