<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8"/>
<div id='alert_msg_box'>
<?
if($_POST['alertLv'] == null){	//not input
} else if($_POST['alertLv'] != null){
?>
	<div class="alert alert-<? echo $_POST['alertLv']; ?> alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<span class="glyphicon glyphicon-<? echo $_POST['alertIcon']; ?>"></span> <? echo $_POST['alertMsg']; ?>
	</div>
<?
}
?>
</div>