<?
	function gnb($tab_name){
		if($_SESSION['tab'] == $tab_name) return 'active';
	}
?>
<div id="header">
	<div class="logo">
		<a href="index.html">
			AnySupport<span class="sub_title"> [ CRM ] </span>
		</a>
	</div>
<?
if($_SESSION['isLogin']){
?>
	<!-- nav -->
	<ul class="gnb">
		<?
		switch($_SESSION['idAdmin']){
			case "ADMIN":
		?>
		<li class='<? echo gnb('manager_manage'); ?>'><a href="manager_manage.html">매니저 관리</a></li>
		<li class='<? echo gnb('manager_create'); ?>'><a href="manager_create.html">매니저 생성</a></li>
		<?
			case "MANAGER":
		?>
		<li class='<? echo gnb('custom_info'); ?>'><a href="custom_info.html">고객 정보</a></li>
		<li class='<? echo gnb('custom_regi'); ?>'><a href="custom_regi.html">고객 등록</a></li>
		<?
			break; 
		}//end of switch($_SESSION['idAdmin'])
		?>
	</ul>
	<div class="login_info_box">
<?
		if($_SESSION['idAdmin'] == "ADMIN"){
?>
		<span class="label label-danger" title="admin 등급">
			<i class="fa fa-user"></i> <? echo $_SESSION['idAdmin']; ?>
		</span> 
		<span class="login_info id_label">
			[ <? echo $_SESSION['userID']; ?> ]
		</span>
<?
		}else if($_SESSION['idAdmin'] == "MANAGER"){
?>
		<span class="label label-info" title="manager 등급">
			<i class="fa fa-user"></i> <? echo $_SESSION['idAdmin']; ?>
		</span> 
		<span class="login_info id_label">
			[ <? echo $_SESSION['userID']; ?> ]
		</span>
<?
		}

	if($_SESSION['userAuth'] & 1){
?>
		<span class="label label-success auth_label" title="엑셀 저장 권한">
			<i class="fa fa-file-excel-o"></i>
		</span>
<?
	}//end of if($_SESSION['userAuth'] & 1)

	if($_SESSION['userAuth'] & 2){
?>
		<span class="label label-success auth_label" title="수정 권한">
			<i class="fa fa-edit"></i>
		</span>
<?
	}//end of if($_SESSION['userAuth'] & 2)

	if($_SESSION['userAuth'] & 4){
?>
		<span class="label label-success auth_label" title="다운로드 권한">
			<i class="fa fa-download"></i>
		</span>
<?
	}//end of if($_SESSION['userAuth'] & 4)
?>
	</div>

	<a href="_logout.php" class="logout_btn btn btn-danger">
		로그아웃
	</a>
<?
}	//end of if($_SESSION['isLogin'])
?>
</div>