<?
	@session_start();
?>
<div class="updown_area">
<!-- upload_content -->
<div class="upload_content">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				업로드 [ <? echo $_POST['adID'] ?>고객 - No.<? echo $_POST['bhNum'] ?> 첨부파일 ]
			</h3>
		</div>
		<!-- //panel_head -->
		<div class="panel-body">
			<form enctype="multipart/form-data" action="_upload.php" method="POST">
				<input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
				<input type="file" class="files" name="files[]" multiple /><br/>
				<p class="help-block">해당 거래 목록의 업로드 버튼을 클릭하신 후 파일을 업로드 시켜주세요.</p>
				<input type="hidden" name="cusNum" value='<? echo $_POST['cusNum'] ?>' />
				<input type="hidden" name="adID" value='<? echo $_POST['adID'] ?>' />
				<input type="hidden" name="bhNum" value='<? echo $_POST['bhNum'] ?>' />
				<button type="submit" class="btn btn-info" >
					Upload
				</button>
			</form>
		</div>
		<!-- //panel_body -->
	</div>
	<!-- //panel_wrap -->
</div>
<!-- //upload_content -->
<hr class="sr-only"/>
<!-- upload_files_content -->
<div class="upload_files_content">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">다운로드</h3>
		</div>
		<!-- //panel_head -->
		<div class="panel-body">
		<?
//기본 경로
$upload_path = "../uploads/";
$down_path = "uploads/";
//회사 이름
$adID_path = $_POST['adID']."/";
//거래 목록
$history_path = $_POST['bhNum']."/";

$upload_path = $upload_path.$adID_path.$history_path;
$down_path = $down_path.$adID_path.$history_path;
//echo "다운로드 경로 : ".$down_path;
if(is_dir($upload_path)){
	$scan_dir = scandir($upload_path);
?>
			<ul class="list-group">
<?
	for($i = 2; $i<count($scan_dir); $i++){
		$filename = iconv("euc-kr","utf-8", $scan_dir[$i]);
?>
				<li class="list-group-item">
				<?
					if($_SESSION['userAuth'] & 4){
				?>
				<a href="_download.php?fName='<? echo $filename; ?>'&fPath='<? echo $down_path; ?>'"><? echo $filename; ?></a>
				<?
					}else{
						echo $filename;
					}
				?>
				</li>
<?
	}//end of for($i = 2; $i<count($scan_dir); $i++)
?>
			</ul>
<?
}else{
	echo "경로가 존재하지 않습니다.";
}
?>
		</div>
		<!-- //panel_body -->
	</div>
	<!-- //panel_wrap -->
</div>
<!-- //upload_files_content -->
</div>
